{% extends 'partials/base.html' %}

{% load shop_extras %}

{% block title %}SalesRep ReceiveStock{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h4 class="text-center">Receive New Stock</h4> <hr>
        {% if messages %}
            <div class="container mt-2">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
                
                {% for form in formset %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.product.label_tag }}
                            {{ form.product|add_class:"form-select" }}
                        </div>
                        <div class="col-md-6">
                            {{ form.quantity_received.label_tag }}
                            {{ form.quantity_received|add_class:"form-control" }}
                        </div>
                    </div>
                {% endfor %}
            <button type="submit" class="form-control btn btn-outline-primary mt-3 rounded-pill">Submit</button>
        </form>
    </div>
{% endblock %}



<h1>Hello, Receive New Stock here</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <div style="margin-bottom: 10px; border-bottom: 1px solid #ddd; padding-bottom: 10px;">
            {{ form.as_p }}
        </div>
    {% endfor %}
    
    {% if form.errors %}
        <ul class="errorlist">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <input type="submit" value="Save Stock" class="btn btn-primary">
</form>